$darkColor: #2f2e41;
$lightColor: #3f3d56;
$altColor: #786684;
$headerLightColor: #54526c;
$contrastColor: #00bfa6;
$textColor1: #909090;
$textColor2: #cccccc;
$textColor3: #ffffff;

.footer {
    background-color: $darkColor;
    color: $textColor1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);

    .nameAndDate {
        margin-left: 10%;
    }

    .contact {
        margin-right: 3%;
        text-align: center;
    }

    .icon {
        width: 80%;
        height: 80%;
    }

    #title {
        font-size: 24px;
        margin-bottom: 0;
    }

    #date {
        margin-top: 1%;
        font-size: 18px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    @media (min-width: 2000px) {
        margin-top: 2%;
    }
}
