@import url('https://fonts.googleapis.com/css2?family=Montserrat');

$darkColor: #2F2E41;
$lightColor: #3F3D56;
$altColor: #786684;
$contrastColor: #00BFA6;
$textColor1: #909090;
$textColor2: #CCCCCC;
$textColor3: #FFFFFF;


body{
  font-family: 'Montserrat', sans-serif;
}